.jira-writer-component{
    font-family:Arial, Helvetica, sans-serif;
    font-style: italic;
    position: absolute;
    top: 40vh;
    left: 50vw;
    transform: translate(-50%,-50%);
}

.validtion-tag{
    color: red;
    font-size: small;
}

textarea{
    resize: none;
    height: 150px;
    width: 600px;
}

#copy-to-clipboard{
    position:absolute;
    top: 3px;
    right: -300px;
    width: 60px;
}

#response-textbox{
    border:none;
    height:300px; 
    resize: none;
    outline: none;
}

.response-box{
    position:relative;
    width: 300px;
    height: 100px;
    border: 1px solid #ddd;
}

button{
    border-radius: 5px;
}